*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    background-color: yellowgreen;
    color: rgb(12, 11, 11);
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
