*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: rgb(91, 151, 109);
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.add-btn{
    position: fixed;
    top: 0%;
    right: 0;
    padding: 0.5em;
    margin: 7px;
    
}
