.modal{
    border: 2px solid red;
    height: 500px;
    width: 500px;
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.create-todo{
   display: flex;
   flex-direction: column; 
   justify-content: space-evenly;
   height: 90%;
   margin: 4%;
}
.all-btn{
    display: flex;
    justify-content: space-around;
}
.all-btn, button {
    /* display: flex; */
    justify-content: start;
    gap: 10px;
}